
body#tinymce.wp-editor {
    text-rendering: optimizeLegibility !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: 'Esteban', serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #14121c;
    p {
        margin-bottom: 1rem;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        line-height: 1.1;
    }
    h1, .h1 {
        font-size: 2.5rem;
    }
    h2, .h2 {
        font-size: 2rem;
    }
    h3, .h3 {
        font-size: 1.75rem;
    }
    h4, .h4 {
        font-size: 1.5rem;
    }
    h5, .h5 {
        font-size: 1.25rem;
    }
    h6, .h6 {
        font-size: 1rem;
    }
    blockquote {
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
        font-size: 1.25rem;
        border-left: 0.25rem solid #eceeef;
    }

}
